In [1]:
# it is the best for prediction

in the descsion tree we go step by step, for example if you have an employe has salary 50k, yes then go farward , if no then stop there, and so on..

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv(r"C:\Users\Ali Mir\Desktop\ML models\archive (4).zip")

In [4]:
df.head(3)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1

In [14]:
#outcome column is our dependent varible, if we drop it then we got independemt data
independent= df.drop('Outcome', axis=1)

In [15]:
independent # dont write inplace true, otherwise our outcome permanant delete

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [16]:
dependent=df['Outcome']

In [17]:
dependent

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [18]:
# if we have text or variable then we use oneHotEncoder
#for example
# from sklearn.preprocessing import LabelEncoder
#then we creat object that coloumn which we need to onehotencoding
#for example, we have 3 column(company,job,degree) then we make 3 object
#company=LabelEncoder()
#job=LabelEncoder()
#degree=LabelEncoder()
#then we creat new columns in dataframe

In [19]:
# Now we train our model
from sklearn import tree
model=tree.DecisionTreeClassifier()

In [20]:
model.fit(independent,dependent)

DecisionTreeClassifier()

In [21]:
model.score(independent,dependent)

1.0

In [22]:
# above give us 100 percent score
#now predict the model
model.predict([[6,148,72,35,0,33.6,0.627,50]]) #here we write features

array([1], dtype=int64)

In [23]:
#predict another value
model.predict([[9,149,75,39,0,38.6,0.634,25]])

array([0], dtype=int64)

In [24]:
# above 1 mean person has diabetes and 0 mean no diabetes